/* Resets */
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

/* variables */
:root{
    --main-color:
    --primary-color:
}

/* body styling */
body{background-color:purple;

}

/* nav start */
nav{
    display: flex;
    justify-content:space-between;
    background-color: brown;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
}

 li{
    display: inline;
    list-style: none;
}
li a{
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    padding-bottom: 10px;
}

li a:hover{
    border-bottom : 2px solid  black;
}

/* nav end */