#resume {
    background-size: cover;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    
    /* Flexbox settings */
    display: flex;
    justify-content: flex-start; /* Align items to the left side */
    align-items: flex-start;
    padding: 30px;
}

.container {
    display: flex;
    flex-direction: row; /* Keep image and content side by side */
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column; /* Stack text content vertically */
    max-width: 600px; /* Limit width for content */
}

.img-container {
    margin-left: 20px; /* Add some space between content and image */
}

.img-container img {
    max-width: 350px;
    height: auto;
    border-radius: 50%;
}
