/* Resets */
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

/* variables */
:root{
    --main-color:
    --primary-color:
}

/* body styling */
body{background-color:black;

}

/* nav start */
nav{
    display: flex;
    justify-content:space-between;
    background-color: ;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
}

 li{
    display: inline;
    list-style: none;
}
li a{
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    padding-bottom: 10px;
}

li a:hover{
    color: gold;
    border-bottom : 2px solid gold;
}

/* nav end */


/* header start */
.header{
    background-size: cover;
    height: 50vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;

    /*flex box*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: blueviolet;
    position: relative;
    padding: 20px;
}
.antique-white {
    color: antiquewhite;
}

.gold {
    color: gold;
}

.button-container {
    display: flex;
    gap: 10px; 
    margin-top: 10px; 
}

.btn-1{
    padding: 5px 5px;
    background-color:goldenrod;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-2{
    padding: 5px 5px;
    background-color: black;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}
/* header end */
